/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.mangold-logo {
	background: #9C0;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: white;
}

.kineticjs-content {
	background-color: #f5f5f5;
}

.icon_selected {
	color: #5555aa;
}

/** Needed by GWT Drag and Drop (image background will be opaque otherwise) */
BODY,HTML {
	height: 100% !important;
}