/** Add css rules here for your application. */

body {
  margin: 0px;
}

@external .gwt-MenuBar-horizontal; 
.gwt-MenuBar-horizontal {
	background:#9C0;
	/* border-color: #003366; */
	border: 0px;
}

@external .fub-workspace-menu .gwt-MenuItem-disabled; 
.fub-workspace-menu .gwt-MenuItem-disabled {
	color: gray;
}

@external .fub-workspace-sidebar-cell .gwt-Label; 
.fub-workspace-sidebar-cell .gwt-Label {
	font-size: large;
	padding-left: 5px;
}

@external fub-workspace-configurator-heading;
.fub-workspace-configurator-heading {
	margin: 5px;
	font-size: medium;
	font-weight: bold;
}

@external .fub-workspace-configurator-row .gwt-Label; 
.fub-workspace-configurator-row .gwt-Label {
	margin-left: 5px;
	font-weight: bold;
}

@external .fub-workspace-configurator-row .gwt-TextBox; 
.fub-workspace-configurator-row .gwt-TextBox {
	width: 95%;
}

@external .fub-workspace-configurator-row .gwt-TextArea; 
.fub-workspace-configurator-row .gwt-TextArea {
	width: 95%;
}